/* General */

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgb(44, 44, 44);
}

button {
  font-family: inherit;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.select-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fffdfe;
  min-width: 550px;
  border-bottom: 0;
  position: absolute; /* Position form absolutely within the container */
  z-index: 2; /* Set a higher z-index for the form element */
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

form {
  min-width: 550px;
  min-height: 90px;
  z-index: 2;
}

/* Color Picker */

#color-picker {
  height: 42px;
  width: 61px;
  border: none;
  appearance: none;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: #e5e5e5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

/* Dropdown List */

#dropdown-btn {
  height: 42px;
  width: 312px;
  color: black;
  text-align: left;
  padding-left: 13px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  background: url("icons/arrow.png") no-repeat;
  background-position: center right 10px;
  background-size: 14px 7px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  cursor: pointer;
  width: 312px;
  background-color: #fffdfe;
  border: 1px solid #fffdfe;
  border-radius: 6px;
  padding-top: 10px;
  z-index: 1;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.option {
  display: block;
  padding: 8px 16px 8px 12px;
  font-size: 16px;
  /* TODO: Add this to a class that is applied once the color has been selected */
  background: url("icons/check.png") no-repeat;
  background-position: center right 10px;
  background-size: 14px 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.option:hover {
  font-weight: 600;
}

/* Button */

#color-btn {
  width: 123px;
  height: 42px;
  font-size: 12px;
  border: 1px solid #d1d5db;
  border-radius: 4px;
  background-color: #fffdfe;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

#color-btn:hover {
  background-color: #d1d5db;
}

/* Colors */

.colors {
  display: flex;
  flex-direction: row;
  z-index: 1;
}

.rectangle {
  position: relative;
  height: 550px;
  width: 110px;
  z-index: 0; /* Set a lower z-index for each rectangle */
}

.rectangle:nth-child(1) {
  background-color: #c01010;
}

.rectangle:nth-child(2) {
  background-color: #ed1515;
}

.rectangle:nth-child(3) {
  background-color: #f24444;
}

.rectangle:nth-child(4) {
  background-color: #f67373;
}

.rectangle:nth-child(5) {
  background-color: #f9a2a2;
}

/* Hex Codes */

.codes {
  min-width: 550px;
  min-height: 46px;
  background-color: #fffdfe;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.hex {
  text-align: center;
  padding: 11px 27px;
  line-height: 1;
}

svg {
  margin: 0;
  padding: 0;
}

.codes p {
  font-size: 0.75em;
  color: #2b283a;
}
